{% extends 'user/templates/index.html' %}
{% load crispy_forms_tags %}

{% block start %}
<h2>Password reset</h2>
<p>Forgotten your password? Enter your email address below, and
  we'll email instructions for setting a new one.</p>

  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <fieldset class="form-group">
        {{ field.label }} <br> {{ field }}
      </fieldset>
    {% endfor %}
    <button type="submit" class="btn password-reset"> Reset my Password</button>
  </form>

{% endblock start %}
