*{
  box-sizing: border-box;
}


body {
  /* display: flex; */
  /* width: 90%; */
  margin: 0 auto;
  /* background-color: red; */
}

.navbar-main {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.welcome-body {
  width: 60%;
  margin: 0 auto;
  border: 1px solid #333;
  margin-top: 1rem;
  /* text-align: center; */
  padding: 2rem 3rem 4rem;
  background-color: violet;
}

.welcome-message {
  color: green;
  text-align: center;
}

.welcome-message span {
  font-size: 60px;
}

.ul-links {
  display: flex;
  padding-left: 15px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  padding-right: 25px;
  padding-left: 10px;
  color: rgb(219, 64, 173);
  /* font-size: 16px; */
}

.nav-link-logo {
  font-size: 24px;
}

.nav-link:hover {
  font-size: 20px;
  background-color: greenyellow;
  color: blue;
  padding: 5px 5px;
  border-radius: 7px;
  width: auto;
}

.nav-link:active {
  border-radius: 7px;
  font-size: 20px;
  width: auto;
  height: 60px;
  background-color: red;
}

.active {
  background-color: #fff;
  color: black;
}


/* Password change */
.container-password-change {
  width: 60%;
  margin: 0 auto;
  border: 1px solid #333;
  margin-top: 1rem;
  /* text-align: center; */
  padding: 2rem 3rem 4rem;
  background-color: violet;
}

.btn {
  background-color: #4CAF50;
     color: white;
     padding: 10px 20px;
     border: none;
     border-radius: 7px;
}
