body {
  /* display: flex; */
  /* width: 90%; */
  margin: 0 auto;
  /* background-color: red; */
}

.navbar-main {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.welcome-body {
  /* background-color: violet; */
}

.welcome-message {
  color: green;
  text-align: center;
}

.welcome-message span {
  font-size: 60px;
}

.ul-links {
  display: flex;
  padding-left: 15px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  padding-right: 35px;
  padding-left: 10px;
  color: azure;
  /* font-size: 16px; */
}

.nav-link-logo {
  font-size: 24px;
}

.nav-link:hover {
  font-size: 20px;
  background-color: greenyellow;
  color: blue;
  padding: 5px 5px;
  border-radius: 7px;
  width: auto;
}

.nav-link:active {
  border-radius: 7px;
  font-size: 44px;
  width: auto;
  height: 60px;
  background-color: red;
}

.active {
  background-color: #fff;
  color: black;
}
