{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="title" content="Django email confirmation">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="author" content="Amare Kassa">

  <title>{{title}}</title>


  <link rel="stylesheet" type="text/css" href="{% static "index.css" %}" />


  <!-- message here -->

  {% if messages %}
    {% for message in messages %}

    <script>
      alert("{{ message }}");
    </script>

    {% endfor %}
  {% endif %}

  <!--_______________________________________________-->



</head>

<body>
<nav>
  <header class="header-primary">

    <nav class="navbar-main">
      <div>
        <a href="{% url 'index' %}" class="{% if request.path == '/' %}active{% endif %} nav-link nav-link-logo">Logo</a>
      </div>
      <ul class="ul-links">
        <li class="link-item"><a href="{% url 'index' %}" class="{% if request.path == '/' %}active{% endif %} nav-link">Home</a></li>

        {% if user.is_authenticated %}
        <li class="link-item"><a href="{% url 'logout' %}" class="{% if request.path == '/logout/' %}active{% endif %} nav-link">Logout</a></li>
        {% else %}
        <li class="link-item"><a href="{% url 'register' %}" class="{% if request.path == '/register/' %}active{% endif %} nav-link">Sign up</a></li>
        <li class="link-item"><a href="{% url 'login' %}" class="{% if request.path == '/login/' %}active{% endif %} nav-link">Log in</a></li>
        {% endif %}
      </ul>
    </nav>

</header>

  <div class="welcome-body">
    {% block start %}
      {% if user.is_authenticated %}
        <h1 class="welcome-message">Welcome back <span> {{user.username}}!</span></h1>
      {% else %}
        <h1 class="welcome-message">Login to see more privileged pages!</h1>
      {% endif %}
    {% endblock start %}
  </div>

  <script src="{% static 'javascript/index.js' %}"></script>
</body>
</html>
